# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f0e2df6253a7f1e18677bdea561bb1491e296b0e954ff24da884ab6ad7a2caddb9231724294f70c445074b1d4e0c9838f64e95375669b85f2ffd343135d2470c

test:
  secret_key_base: 89931e69be39af53f864d5f9e3919b2b9360803e242f78a2b889a0d9df347192e1b0181bc940adaab02dffcb5ce9f0440b8148b59ef701b2f4ec48549e3dd4f0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
